name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  clt:
    runs-on: ubuntu-22.04
    steps:
      - uses: manticoresoftware/clt@0.2.3
        with:
          image: 'ghcr.io/manticoresoftware/manticoresearch:test-kit-latest'
          init_code: |
            git clone https://github.com/manticoresoftware/phar_builder.git
            ./phar_builder/bin/build --name="Manticore Backup" --package="manticore-backup"
          run_args: '-v $PWD/build/manticore-backup:/usr/bin/manticore-backup -v $PWD/build/share/modules/manticore-backup:/usr/share/manticore/modules/manticore-backup'
          test_prefix: test/clt-tests/
